<a href="https://colab.research.google.com/github/infyprakash/python-for-datascience-training/blob/main/Day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# About Google Colab

- Colaboratory, or “Colab” for short, is a product from Google Research. Colab allows anybody to write and execute arbitrary python code through the browser, and is especially well suited to machine learning, data analysis and education. More technically, Colab is a hosted Jupyter notebook service that requires no setup to use, while providing free access to computing resources including GPUs.

- Jupyter is the open source project on which Colab is based. Colab allows you to use and share Jupyter notebooks with others without having to download, install, or run anything.

- You can download any Colab notebook that you’ve created from Google Drive, or from within Colab’s File menu. All Colab notebooks are stored in the open source Jupyter notebook format ( .ipynb).

- Colab notebooks are stored in Google Drive, or can be loaded from GitHub. Colab notebooks can be shared just as you would with Google Docs or Sheets. Simply click the Share button at the top right of any Colab notebook

# How to Use Google Colab?

- To access google colab click the link: https://colab.research.google.com/

- Just like any other product from Google, you need a Google account to get started. You can access Google Colab using this link Welcome To Colaboratory – Colaboratory (google.com) and signing in through your Google account.

# The Python: Introduction

- Python is an easy to learn, powerful programming language. 

- It has efficient high-level data structures and a simple but effective approach to object-oriented programming. 

- Python’s elegant syntax and dynamic typing, together with its interpreted nature, make it an ideal language for scripting and rapid application development in many areas on most platforms.

- There are no type declarations of variables, parameters, functions, or methods in source code. This makes the code short and flexible, and you lose the compile-time type checking of the source code. 

- Python tracks the types of all values at runtime and flags code that does not make sense as it runs.

## Python Numbers

python support the integer numbers (e.g. 2, 4, 20) have type int, the ones with a fractional part (e.g. 5.0, 1.6) have type float.

In [ ]:
a = 10

In [ ]:
type(a)

int

In [ ]:
b = 20.5

In [ ]:
type(b)

float

The operators +, -, * and / work just like in most other languages (for example, Pascal or C); parentheses (()) can be used for grouping.

In [ ]:
sum = (2+2)

In [ ]:
sum

4

In [ ]:
product = (2*4)

In [ ]:
product

8

Division (/) always returns a float. To do floor division and get an integer result (discarding any fractional result) you can use the // operator; to calculate the remainder you can use %:

In [ ]:
5/2

2.5

In [ ]:
5//2

2

In [ ]:
3 % 2

1

With Python, it is possible to use the ** operator to calculate powers

In [ ]:
a = 2 ** 3

In [ ]:
a

8

There is full support for floating point; operators with mixed type operands convert the integer operand to floating point

In [ ]:
2.5 * 3 / 5

1.5

## Python Input and Output

- for output use: print()
- for input use: input()

In [ ]:
a = 10.5
print("The value of a=",a)

The value of a= 10.5

In [ ]:
# by using str.format() method 
b = 20
c = 12
print("The value of b is {} and c is {}".format(b,c))

The value of b is 20 and c is 12

In [ ]:
# by using placeholder within braces
b = 20
c = 12
print("The value of b is {0} and c is {1}".format(b,c))

The value of b is 20 and c is 12

In [ ]:
name = input()

prakash

In [ ]:
name = input("please enter your name: ")

print("my name is {}".format(name))

please enter your name: prakash
my name is prakash

## Python Strings

- Python support and manipulate strings. It has built in class called str for string manipulation.

- The strings are sequence of characters enclosed within single quote or double quotes

In [ ]:
city = "kathmandu"

In [ ]:
city

'kathmandu'

In [ ]:
# for formatted output use print()
print(city)

kathmandu

In [ ]:
name = 'python programming'

In [ ]:
print(name,":", type(name))

python programming : <class 'str'>

 "+ " is used to concatenate string variables and literals

In [ ]:
"hello" + "world"

'helloworld'

In [ ]:
first_name = "python"
last_name = "programming"

print(first_name + " " +last_name)

python programming

- use len() to get : Length of string
- strings are indexed from 0 to len(str) -1

In [ ]:
a = "hello"

In [ ]:
print(len(a))

5

In [ ]:
a[0]

'h'

In [ ]:
a[4]

'o'

In [ ]:
a[5]

IndexError: ignored

- from right, the string can be indexed with negative number
- -1 denote last character in the string

In [ ]:
place = "kathmandu"

In [ ]:
place[-1] # access last character

'u'

In [ ]:
place[-2] #access second last character

'd'

In [ ]:
place[-9] # access first character

'k'

string support slicing operations, to get substring from given string
- slicing syntax: str[start index:end index]
- default start index: 0
- default end index: size of string

In [ ]:
a = "kathmandu"

In [ ]:
a[:]

'kathmandu'

In [ ]:
a[:2] # slice from first index up to 2

'ka'

In [ ]:
a[2:] # slice from index : 2 to last index

'thmandu'

In [ ]:
a[2:5]

'thm'

Python strings are "immutable" which means they cannot be changed after they are created

In [ ]:
a = "hello"

In [ ]:
a[0] = "k"

TypeError: ignored

## String Methods
- since string in python is object of class 'str', the strings object can call the available built in methods

In [ ]:
a = "testing method"
print(dir(a))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
a = "test"
print(a.lower())

test

In [ ]:
print(a.upper())

TEST

In [ ]:
a = "123"

a.isdigit()

True

In [ ]:
b = "abcd"

a.isalpha()

False

In [ ]:
c = "a123"

c.isalnum()

True

In [ ]:
# searches for the given other string (not a regular expression) within s, and returns the first index where it begins or -1 if not found
a = "hello world"

a.find('o')

4

In [ ]:
# returns a string where all occurrences of 'old' have been replaced by 'new'

a = "hello you"

a.replace("you","world")

'hello world'

In [ ]:
#  returns a list of substrings separated by the given delimiter.

a = "test string using space delimiter"
a.split(' ')

['test', 'string', 'using', 'space', 'delimiter']

In [ ]:
a = "1,2,3,4,5"

a.split(',')

['1', '2', '3', '4', '5']

## Using Python Module

In [ ]:
import math

In [ ]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [ ]:
math.sqrt? # to get documentation for any method use : ?

In [ ]:
math.sqrt(4)

2.0

In [ ]:
from math import factorial

In [ ]:
factorial(4)

24

In [ ]:
import random

In [ ]:
random.random() # returns a random number in interval of [0,1]

0.7923036216505914

In [ ]:
random.randint(1,10)

4